<form [formGroup]="productForm">
  <nz-form-item>
    <nz-form-label [nzRequired]="true">Product Name</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="name" placeholder="Enter product name" />
      <div
        nz-form-explain
        *ngIf="
          productForm.get('name')!.invalid &&
          (productForm.get('name')!.dirty || productForm.get('name')!.touched)
        "
      >
        <ng-container *ngIf="productForm.get('name')?.hasError('required')">
          Product name is required.
        </ng-container>
        <ng-container *ngIf="productForm.get('name')?.hasError('minlength')">
          Product name must be at least 3 characters long.
        </ng-container>
        <ng-container *ngIf="productForm.get('name').errors?.['capitalLetter']">
          The first letter of the name must be capitalized.
        </ng-container>

        
      </div>

      <div
        nz-form-explain
        *ngIf="
          productForm.get('name')!.hasError('nameInvalid') &&
          (productForm.get('name')!.dirty || productForm.get('name')!.touched)
        "
      >
        Product name is required and must start with a capital letter.
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzRequired]="true">Category</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="category" placeholder="Enter category" />
      <div
        nz-form-explain
        *ngIf="
          productForm.get('category')!.invalid &&
          (productForm.get('category')!.dirty ||
            productForm.get('category')!.touched)
        "
      >
        Category is required.
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzRequired]="true">Price</nz-form-label>
    <nz-form-control>
      <input nz-input nz-input-number formControlName="price" [min]="0" />
      <div
        nz-form-explain
        *ngIf="
          productForm.get('price')!.invalid &&
          (productForm.get('price')!.dirty || productForm.get('price')!.touched)
        "
      >
        Price is required and must be a positive number.
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzRequired]="true">In Stock</nz-form-label>
    <nz-form-control>
      <input formControlName="inStock" />
      <div
        nz-form-explain
        *ngIf="
          productForm.get('inStock')!.invalid &&
          (productForm.get('inStock')!.dirty ||
            productForm.get('inStock')!.touched)
        "
      >
        Number of items in stock is required and must be a non-negative integer.
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
